@font-face {
    font-family: "Soliden";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./Soliden-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Soliden";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("./Soliden-MediumOblique.woff2") format("woff2");
}

@font-face {
    font-family: "Soliden";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./Soliden-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Soliden";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("./Soliden-SemiBoldOblique.woff2") format("woff2");
}

/* @font-face {
    font-family: "Soliden";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./Soliden-Bold.woff2") format("woff2");
} */

@font-face {
    font-family: "Soliden";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./Soliden-BoldOblique.woff2") format("woff2");
}

@font-face {
    font-family: "Soliden";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("./Soliden-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "Soliden";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("./Soliden-ExtraBoldOblique.woff2") format("woff2");
}

@font-face {
    font-family: "Soliden";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./Soliden-Black.woff2") format("woff2");
}

@font-face {
    font-family: "Soliden";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("./Soliden-BlackOblique.woff2") format("woff2");
}