@import url("/fonts/soliden.css");

:root {
  --primary: #101014;
  --secondary: #332c3d;
  --third: #25202c;
  --main: #121215;
  --main-background: #f0f0f0;
  --accent: #e8e83b;
  --accent-alt: #dddc13;
  --line: rgba(35, 35, 35, 0.3);
  --line-alt: rgba(105, 104, 106, 0.2);
  --shadow: rgba(15, 13, 32, 0.075);
}

/* @media (prefers-color-scheme: light) { */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #f0f0f0;
    --secondary: #e0e0e0;
    --third: #c0c0cd;
    /* --main: #f6f6f6; */
    --main-background: #101014;
    --accent-alt: #589dd6;
    --line: rgba(187, 187, 187, 0.5);
    --line-alt: rgba(187, 187, 187, 0.2);
    --shadow: rgba(58, 56, 79, 0.075);
  }
}

*:not(h1, i)::selection {
  color: var(--main) !important;
  background: var(--accent) !important;
}

* {
  /* border: 1px solid red; */
  /* letter-spacing: -0.025em; */
  letter-spacing: -0.05em;
  box-sizing: border-box;
  font-family: "Soliden", sans-serif;
  padding: 0;
  margin: 0;
}

#pfy-form-container {
  background-color: red !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--primary);
  background: var(--main-background);
}

a, p, h1, h2, h3, h4, h5, h6, span, div, button, input, label, select, option, textarea {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  border-radius: 0.5rem;
  font-weight: 500;
  padding: 0.75rem 1.25rem 0.75rem 2.5rem;
  box-sizing: border-box;
  border: none;
  border-top: 1px solid var(--line);
  border-bottom: 0.5px solid var(--line-alt);
  box-shadow: 2px 4px 5.5px var(--shadow);
  color: var(--primary);
  /* backdrop-filter: blur(4px); */
  font-size: 1rem;
  background: transparent !important;
  outline: none;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  background: transparent !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}