.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  border-bottom: 0.5 solid transparent;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.headerScrolled {
  backdrop-filter: blur(10px);
  box-shadow: 2px 4px 5.5px var(--shadow);
  border-bottom: 0.5px solid var(--line-alt);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.85rem 2.5rem;
  padding-bottom: 1.25rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.logo {
  opacity: 0.9;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main, .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 12rem 6rem 10rem 6rem; */
  padding: 10rem 6rem 4rem 6rem;
  border-bottom: 1px solid var(--line-alt);
}

.main {
  min-height: 100vh;
  background: radial-gradient(circle at bottom, var(--accent-alt) -200%, var(--main-background) 60%);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroImage {
  margin-top: -10rem;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
  /* aspect-ratio: 16 / 9; */
  /* cursor: pointer; */
  /* position: absolute; */
}

.shadowText {
  color: var(--third);
  text-align: center;
  margin-bottom: 0.5rem;
  letter-spacing: 0.3rem;
}

.title {
  font-size: 4.5rem;
  margin-bottom: 0.75rem;
  font-weight: 800;
  text-align: center;
  /* background: linear-gradient(120deg, var(--primary) 65%, var(--accent)); */
  background: linear-gradient(120deg, var(--primary) 70%, var(--third));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  color: var(--secondary);
  opacity: 0.9;
  /* font-weight: 600; */
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  max-width: 850px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.button,
.buttonMain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.625rem 1.25rem;
  box-sizing: border-box;
  border-top: 0.5px solid var(--line);
  border-bottom: 0.5px solid var(--line-alt);
  box-shadow: 2px 4px 5.5px var(--shadow);
  font-size: 1.15rem;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.buttonMain {
  background: var(--accent);
  /* background: linear-gradient(-200deg, var(--accent-alt), var(--accent)); */
  color: var(--main);
  font-weight: 600;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.buttonDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  color: var(--third);
  font-size: 0.9rem;
  text-align: center;
  max-width: 200px;
  opacity: 0.8;
  z-index: 0;
}

@media (hover: hover) and (pointer: fine) {
  .logo:hover {
    opacity: 1;
  }

  .button:hover,
  .buttonMain:hover {
    background: var(--line-alt);
    color: var(--primary);
    box-shadow: 4px 8px 5.5px var(--shadow);
  }

  .button:hover {
    text-decoration: underline;
  }
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
  body:has(#modal) {
    overflow: hidden !important;
  }

  .headerContainer {
    padding: 1.25rem 1rem;
    padding-bottom: 0.75rem;
  }

  .header .buttonMain {
    display: none;
  }

  .main {
    padding: 7.5rem 1rem 1rem 1rem;
  }

  .heroImage {
    width: 1350px;
    height: 759px;
    margin-top: -7.5rem;
  }

  .shadowText {
    font-size: 0.8rem;
  }

  .title {
    font-size: 3rem;
    font-weight: 700;
  }

  .description {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .buttonContainer {
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 0 1rem;
  }

  .button,
  .buttonMain,
  .buttonBox {
    width: 100%;
  }

  .buttonBox {
    flex-direction: column-reverse;
    margin-top: -1rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
  /* .logo {
  } */
}
