.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  border-bottom: 0.5 solid transparent;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.headerScrolled {
  backdrop-filter: blur(10px);
  box-shadow: 2px 4px 5.5px var(--shadow);
  border-bottom: 0.5px solid var(--line-alt);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1.85rem 2.5rem; */
  padding: 1.25rem 2.5rem;
  padding-bottom: 1.25rem;
}

.footer {
  width: 100%;
}

.footer .logo {
  opacity: 0.8;
}

.footer .headerContainer {
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
  width: 100%;
}

.footer .button, .footer .buttonMain {
  padding: 0.5rem 0.75rem;
}

.footer .nav {
  /* border-top: 0.5px solid var(--line-alt); */
  /* padding-top: 1rem; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footerText {
  color: var(--third);
  text-align: center;
  font-style: italic;
  opacity: 0.8;
  /* margin-top: 0.25rem; */
  font-size: 1rem;
}

.socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.logo {
  opacity: 0.9;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main,
.section,
.sectionAlt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 12rem 6rem 10rem 6rem; */
  border-bottom: 1px solid var(--line-alt);
}

.main {
  /* min-height: 100vh; */
  background: radial-gradient(circle at bottom, var(--accent-alt) -200%, var(--main-background) 60%);
  padding: 10rem 6rem 2rem 6rem;
}

.section {
  padding: 6rem;
  background: radial-gradient(circle at bottom right, var(--accent-alt) -300%, var(--main-background) 40%);
}

.sectionAlt {
  padding: 6rem;
  background: radial-gradient(circle at left, var(--accent) -200%, var(--main-background) 40%);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroImage {
  margin-top: -11.5rem;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
  /* aspect-ratio: 16 / 9; */
  /* cursor: pointer; */
  /* position: absolute; */
  opacity: 0.9;
}

.shadowText {
  color: var(--third);
  text-align: center;
  margin-bottom: 0.5rem;
  letter-spacing: 0.3rem;
}

.title {
  font-size: 4.5rem;
  margin-bottom: 0.75rem;
  font-weight: 800;
  text-align: center;
  /* background: linear-gradient(120deg, var(--primary) 65%, var(--accent)); */
  background: linear-gradient(120deg, var(--primary) 70%, var(--third));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  color: var(--primary);
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.description,
.subDescription,
.miniDescription,
.tiniDescription {
  color: var(--secondary);
  opacity: 0.9;
  /* font-weight: 600; */
  margin-bottom: 2.5rem;
  max-width: 850px;
  text-align: center;
}

.description {
  font-size: 1.25rem;
  line-height: 1.65rem;
}

.subDescription {
  max-width: 700px;
  font-size: 1rem;
  line-height: 1.4rem;
}

.miniDescription {
  opacity: 0.5;
  color: var(--primary);
  margin-top: -2rem;
}

.tiniDescription {
  opacity: 0.5;
  color: var(--third);
  /* margin-top: -1.75rem; */
  margin-top: -2.5rem;
  font-size: 0.8rem;
}

.underline {
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.button,
.buttonMain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.625rem 1.25rem;
  box-sizing: border-box;
  border-top: 0.5px solid var(--line);
  border-bottom: 0.5px solid var(--line-alt);
  box-shadow: 2px 4px 5.5px var(--shadow);
  font-size: 1.15rem;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.buttonMain {
  background: var(--accent);
  /* background: linear-gradient(-200deg, var(--accent-alt), var(--accent)); */
  color: var(--main);
  font-weight: 600;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.buttonDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  color: var(--third);
  font-size: 0.9rem;
  text-align: center;
  max-width: 200px;
  opacity: 0.8;
  z-index: 0;
}

.bentoContainer {
  /* max-width: 1000px; */
  margin-top: 2rem;
}

.bentoSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 1rem;
  /* background: radial-gradient(circle at top left, var(--accent-alt) -600%, var(--main-background) 40%); */
}

.bentoRow {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: row;
  gap: 1rem;
}

.sectionAlt .bentoRow {
  flex-direction: row-reverse;
  /* gap: 4rem; */
  gap: 2rem;
}

.bentoItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.bentoBox, .selectBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  gap: 1.25rem;
  padding: 1.75rem 1.5rem;
  /* padding: 1.5rem 1.25rem; */
  border-radius: 0.5rem;
  border-top: 0.5px solid var(--line);
  /* border-bottom: 0.5px solid var(--line-alt); */
  border: 0.5px solid var(--line-alt);
  background: var(--main-background);
  /* backdrop-filter: blur(4px); */
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 2px 4px 5.5px var(--shadow);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* .bentoBox:has(.bentoImage) {
  padding-bottom: 0;
} */

.overlayVertical, .overlayHorizontal {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.overlayVertical {
  background: linear-gradient(0deg, var(--main-background) 5%, transparent 80%);
}

.overlayHorizontal {
  background: linear-gradient(90deg, var(--main-background) 0%, transparent 40%, transparent 60%, var(--main-background) 100%);
}

.bentoImage, .bentoImageSide {
  margin-top: 1rem;
  /* height: 100%; */
  display: flex;
  justify-self: flex-end !important;
  align-self: center !important;
}

.bentoImageSide {
  position: absolute;
  right: 0;
  bottom: 0;
}

.bentoImage img, .bentoImageSide img {
  z-index: 0;
}

.bentoIcon, .selectBoxIcon {
  color: var(--accent);
  opacity: 0.75;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.bentoText {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: stretch;
  gap: 0.75rem;
}

.bentoTitle, .selectBoxTitle {
  font-size: 1.35rem;
  letter-spacing: -0.035em;
  font-weight: 700;
  color: var(--primary);
}

.bentoDescription, .selectBoxDescription {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--third);
  max-width: 500px;
  opacity: 0.9;
}

.selectBox {
  background: transparent;
  padding: 1.25rem 1.5rem;
  gap: 1rem;
  width: 400px;
}

.selectBoxIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent);
  font-size: 1rem;
  font-weight: 700;
  box-sizing: border-box;
  border-radius: 100%;
  height: 1.75rem;
  width: 1.75rem;
  border: 1px solid var(--accent);
}

.selectBoxTitle {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.selectBoxDescription {
  margin-top: -0.5rem;
  margin-bottom: -0.25rem;
  font-size: 0.95rem;
  line-height: 1.45rem;
}

@media (prefers-color-scheme: light) {
  .bentoIcon {
    color: var(--line);
  }
}

@media (hover: hover) and (pointer: fine) {
  .logo:hover {
    opacity: 1;
  }

  .button:hover,
  .buttonMain:hover,
  .bentoBox:hover,
  .selectBox:hover {
    background: var(--line-alt);
    color: var(--primary);
    box-shadow: 4px 8px 5.5px var(--shadow);
  }

  .bentoBox:hover .bentoIcon, .bentoSection:hover .selectBoxIcon {
    color: var(--primary);
    border-color: var(--primary);
  }

  .bentoBox:hover .overlayVertical, .bentoBox:hover .overlayHorizontal {
    opacity: 0;
  }

  .button:hover {
    text-decoration: underline;
  }

  .underline:hover {
    color: var(--primary);
  }
}

@media (prefers-reduced-motion) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1024px) {
  .main {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .section, .sectionAlt {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .bentoDescription {
    max-width: 350px;
  }

  /* .sectionAlt .bentoRow {
    gap: 2rem;
  } */

  .sectionAlt img {
    width: 100%;
    height: 100%;
    max-width: 450px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  body:has(#modal) {
    overflow: hidden !important;
  }

  .headerContainer {
    padding: 1.25rem 1rem;
    padding-bottom: 0.75rem;
  }

  .header .buttonMain {
    display: none;
  }

  .footer .headerContainer {
    align-items: center;
  }

  .footer .nav {
    flex-direction: column;
    width: auto;
    align-items: center;
    padding-bottom: 0.75rem;
  }

  .main {
    /* padding: 7.5rem 1rem 1rem 1rem; */
    padding: 7.5rem 1rem 0 1rem;
  }

  .section, .sectionAlt {
    padding: 4.5rem 1rem 2.5rem 1rem;
  }

  .heroImage {
    width: 1350px;
    height: 759px;
    margin-top: -7.5rem;
  }

  .shadowText {
    font-size: 0.8rem;
  }

  .title {
    font-size: 3rem;
    font-weight: 700;
  }

  .subtitle {
    font-size: 2.75rem;
  }

  .description {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .subDescription {
    font-size: 0.9rem;
    line-height: 1.35rem;
    margin-bottom: 1rem;
  }

  .miniDescription {
    /* margin-top: -2rem; */
    display: none;
  }

  .tiniDescription {
    margin-top: -2rem;
  }

  .buttonContainer {
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 0 1rem;
  }

  .button,
  .buttonMain,
  .buttonBox {
    width: 100%;
  }

  .buttonBox {
    flex-direction: column-reverse;
    margin-top: -1rem;
  }

  .bentoContainer {
    margin-top: 1rem;
  }

  .bentoRow {
    flex-direction: column;
  }

  .bentoBox:has(.bentoImageSide) {
    padding-bottom: 0;
  }

  .bentoImageSide {
    position: relative;
  }

  .bentoImage img, .bentoImageSide img {
    width: 100%;
    height: auto;
  }
  
  .sectionAlt .bentoSection {
    flex-direction: column;
  }

  .sectionAlt img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    padding: 1rem;
  }

  .selectBoxIcon {
    align-self: center;
  }

  .selectBoxTitle, .selectBoxDescription {
    text-align: center;
  }

  .selectBox {
    width: 100% !important;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  /* .logo {
  } */
}
